.side{width: 50%;}
.send{order: 2;}
@media only screen and (max-width: 900px) {
    .side {width: 100%;}
    .send{order: 4;}
}

.emailInput{
    font-weight: bold;
    text-transform: lowercase;
    font-size: large;
    text-align: center;
    height: 50px;
    margin: 20px;
}
.button{
    background-color: white;
    height: 50px;
    font-weight: bold;
    margin: 20px;
    font-size: large;
    border: 0;
}

.icon{
    color:white;
    padding: 10px;
    width: 200px;
    text-align: center;
}
.icon:hover{color: var(--blue);}