body{
    font-family: roboto;
    font-size:medium;
    font-weight: 300;
}
table,th,td{
    border: 1px solid lightgray;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
}
table{
    width: 75%;
    /*align-self: center;*/
}
.centre{
    display: flex;
    justify-content: center;
}