* {
    box-sizing: border-box;
}
:root{
    /*Green*/
    --richGreen: #527e3e;
    --pineGreen: #335658;
    --notGrey: #535b46;
    --ausGreen: #637f44;
    --ausGreen2: #607c3c;
    --lightGreen: #669445;
    --lightGreen2: #669744;
    /*Brown*/
    --beige: #aa6c3b;
    --red: #924229;
    --brown: #745541;
    --alsoNotGrey: #7b6266;
    /*Grey*/
    --grey: #bcb6ba;
    --greenGrey: #cfd9d3;
    --blueGrey: #e3e9f0;
    --blue: #c0e0ef;
}


body{
    font-family: roboto;
    font-size:medium;
    font-weight: 300;
    margin: 0;
}
table,th,td{
    border: 1px solid var(--blueGrey);
    border-collapse: collapse;
}
th,td{
    padding: 10px;
}
table{
    width: 75%;
    /*align-self: center;*/
}
.centre{
    display: flex;
    justify-content: center;
}
.pink th, .pink td{
    border-color: var(--red);
}
.khaki th, .khaki td{
    border-color: var(--blue);
}

.welcomeButton{
    display: flex;
    width: 20%;
    background-color: var(--beige);
    height:12%;
    justify-content: center;
    align-items: center;
}

.logo{
   width:25%;
   overflow: hidden;
   border-radius: 100%;
}

/*Navi*/
.navi{
    background-color: rgb(102, 151, 68);
    display:flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.navi a{
    color: rgb(227, 233, 240);
    text-transform: uppercase;
    text-align: center;
    width: 25%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    font-size: 100%;
}
.navi a:hover{
    background-color: rgb(227, 233, 240);
    color: rgb(82, 126, 62);
}
.navi a.active{
    background-color: rgb(82, 126, 62);
    color: rgb(227, 233, 240);
}

/*Media Screens*/
@media(max-width:800px){
    body{
        font-size: 80%;
    }
}
@media(max-width:600px){
    body{
        font-size: 70%;
    }
}


/*Background IMG*/
body, html {
    height: 100%;
    margin: 0;
}

.backIMG {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.subWindow{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.mainWindow{
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.homeNavi{
    display: flex;
    width: 20%;
    background-color: var(--beige);
    height:12%;
    justify-content: center;
    align-items: center;
    background
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.hollow{
    display: flex;
    width: 20%;
    background-color: var(--pineGreen);
    height:12%;
    justify-content: center;
    align-items: center;
    opacity: 60%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background:var(--grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--pineGreen); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--notGrey);
    cursor: pointer;
}


h2{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.contactL{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.contactS{
    display: flex;
    height: 50%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
}
.emailInput{
    font-weight: bold;
    text-transform: lowercase;
}
.butt:hover{
    cursor: pointer;
}
.icon{
    color:white;
}
.icon:hover{
    color: var(--blue);
}